.header{
    text-align: center;
    &__offer{
        background-color: black;
        color: white;
        padding: 10px 0;
    }
    &__navigation{
        display: flex;
        column-gap:20px;
        justify-content: space-between;
        align-items: center;
        
        padding: 36px 0;
        &-hamburger{
           
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            span{
                transition: 0.6s all; 
                display: block;    
                width: 30px;
                height: 5px;
                background-color: black;
                border-radius: 16px
            }
            display: none;
        }
        &-title{
            width: 336px;
            height: 34px;
              
        }
        &-healper{
            display: flex;
            column-gap: 15px;
        }
        &-search{
            display: none;
        }
    }
    &__deserts{
        display: flex;
        background-color: black;
        min-height: 6px;
        max-height: 58px;
        .container{
            display: flex;
            justify-content: space-between;
        }
        
    }
    &__guarantee{
        display: flex;
        img{
            width: 45px;
            height: 45px;
        }
        align-items: center;
        color: white;
        span{
            width: 150px;
            text-align: left;
        }
        
    }
}